name: "GitHub Pages - Python Sphinx"

on:
  workflow_call:
    inputs:
      python-version:
        description: "The Python version to use"
        default: "3.x"
        required: false
        type: string
      deploy:
        description: "Whether to deploy the built site"
        default: ${{ github.ref == 'refs/heads/main' }}
        required: false
        type: boolean

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: "Checkout repository"
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: "Setup Python"
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: ${{ inputs.python-version }}
          allow-prereleases: true
          cache: "pip"
          cache-dependency-path: "pyproject.toml"

      - name: "Install dependencies"
        run: pip install .[docs]

      - name: "Build docs"
        run: |
          cd docs 
          make dirhtml

      - name: "Upload artifact"
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
        with:
          path: ./docs/build/dirhtml

  deploy:
    if: ${{ inputs.deploy }}

    # Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
    permissions:
      contents: read
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest

    needs: build
    steps:
      - name: "Deploy to GitHub Pages"
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
