name: "Python Lint"

on:
  workflow_call:
    inputs:
      python-version:
        description: "The Python version to use"
        default: "3.x"
        required: false
        type: string

jobs:
  lint:
    runs-on: ubuntu-latest
    
    steps:
      - name: "Checkout repository"
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: "Setup Python"
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: ${{ inputs.python-version }}
          allow-prereleases: true
          cache: "pip"
          cache-dependency-path: "pyproject.toml"

      - name: "Install dependencies"
        run: python -m pip install .[dev] ruff mypy

      - name: "Check formatting"
        run: python -m ruff format --check src/

      - name: "Run ruff"
        run: python -m ruff check --output-format=github src/

      - name: "Run mypy"
        run: python -m mypy --strict src/
