name: "Python Test"

on:
  workflow_call:
    inputs:
      os:
        description: "The operating system to use"
        required: true
        type: string
      python-version:
        description: "The Python version to use"
        required: true
        type: string
    secrets:
      codecov-token:
        description: "The Codecov token to use"
        required: false
      deepsource-dsn:
        description: "The DeepSource token to use"
        required: false

jobs:
  test:
    runs-on: ${{ inputs.os }}
    env:
      HAVE_CODECOV_TOKEN: ${{ secrets.codecov-token != '' }}
      HAVE_DEEPSOURCE_DSN: ${{ secrets.deepsource-dsn != '' }}

    steps:
      - name: "Checkout repository"
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: "Setup Python"
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "${{ inputs.python-version }}"
          allow-prereleases: true
          cache: "pip"
          cache-dependency-path: "pyproject.toml"

      - name: "Update packaging tools"
        run: python -m pip install --upgrade pip wheel setuptools build

      - name: "Install dependencies"
        run: python -m pip install .[tests] coverage pytest

      - name: "Run tests"
        run: python -m coverage run -m pytest

      - name: "Upload coverage reports to Codecov"
        if: ${{ env.HAVE_CODECOV_TOKEN != 'false' }}
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        env:
          CODECOV_TOKEN: ${{ secrets.codecov-token }}

      - name: "Upload coverage reports to DeepSource"
        if: ${{ env.HAVE_DEEPSOURCE_DSN != 'false' }}
        run: |
          coverage xml
          curl https://deepsource.io/cli | sh
          ./bin/deepsource report --analyzer test-coverage --key python --value-file ./coverage.xml
        env:
          DEEPSOURCE_DSN: ${{ secrets.deepsource-dsn }}
