name: "Python Lint"

on:
  workflow_call:
    inputs:
      python-version:
        description: "The Python version to use"
        default: "3.x"
        required: false
        type: string

jobs:
  lint:
    runs-on: ubuntu-latest
    
    steps:
      - name: "Checkout repository"
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: "Setup Python"
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{ inputs.python-version }}
          allow-prereleases: true
          cache: "pip"
          cache-dependency-path: "pyproject.toml"

      - name: "Install dependencies"
        run: python -m pip install .[dev] ruff mypy

      - name: "Check formatting"
        run: python -m ruff format --check src/

      - name: "Run ruff"
        run: python -m ruff check --output-format=github src/

      - name: "Run mypy"
        run: python -m mypy --strict src/
