name: "Python Test"

on:
  workflow_call:
    inputs:
      os:
        description: "The operating system to use"
        required: true
        type: string
      python-version:
        description: "The Python version to use"
        required: true
        type: string
    secrets:
      codecov-token:
        description: "The Codecov token to use"
        required: false
      deepsource-dsn:
        description: "The DeepSource token to use"
        required: false

jobs:
  test:
    runs-on: ${{ inputs.os }}
    env:
      HAVE_CODECOV_TOKEN: ${{ secrets.codecov-token != '' }}
      HAVE_DEEPSOURCE_DSN: ${{ secrets.deepsource-dsn != '' }}

    steps:
      - name: "Checkout repository"
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: "Setup Python"
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: "${{ inputs.python-version }}"
          allow-prereleases: true
          cache: "pip"
          cache-dependency-path: "pyproject.toml"

      - name: "Update packaging tools"
        run: python -m pip install --upgrade pip wheel setuptools build

      - name: "Install dependencies"
        run: python -m pip install .[tests] coverage pytest

      - name: "Run tests"
        run: python -m coverage run -m pytest

      - name: "Upload coverage reports to Codecov"
        if: ${{ env.HAVE_CODECOV_TOKEN != 'false' }}
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        env:
          CODECOV_TOKEN: ${{ secrets.codecov-token }}

      - name: "Upload coverage reports to DeepSource"
        if: ${{ env.HAVE_DEEPSOURCE_DSN != 'false' }}
        run: |
          coverage xml
          curl https://deepsource.io/cli | sh
          ./bin/deepsource report --analyzer test-coverage --key python --value-file ./coverage.xml
        env:
          DEEPSOURCE_DSN: ${{ secrets.deepsource-dsn }}
