name: "Publish to crates.io"

on:
  workflow_call:
    secrets:
      CARGO_REGISTRY_TOKEN:
        description: 'Bearer token for crates.io'
        required: true

jobs:
  publish:
    name: "Publish"
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout repository"
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: "Publish to crates.io"
        run: cargo publish
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
