name: "Rust Clippy"

on:
  workflow_call:

jobs:
  clippy:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout repository"
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: "Cache dependencies"
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2

      - name: "Run Clippy"
        run: cargo clippy -- -D clippy::all -D clippy::pedantic -D clippy::cargo
