name: "Publish to crates.io"

on:
  workflow_call:
    secrets:
      CARGO_REGISTRY_TOKEN:
        description: 'Bearer token for crates.io'
        required: true

jobs:
  publish:
    name: "Publish"
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout repository"
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: "Publish to crates.io"
        run: cargo publish
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
