name: "Rust Clippy"

on:
  workflow_call:

jobs:
  clippy:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout repository"
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: "Cache dependencies"
        uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2.8.1

      - name: "Run Clippy"
        run: cargo clippy -- -D clippy::all -D clippy::pedantic -D clippy::cargo
