name: "Rust Lint"

on:
  workflow_call:

jobs:
  rustfmt:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout repository"
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: "Check formatting"
        run: cargo fmt --all -- --check
